<!-- select_company.html
<!DOCTYPE html>
<html>
<head>
    <title>Select Company</title>
</head>
<body>
    <h1>Select a Company</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
</body>
</html>-->

<!DOCTYPE html>
<html>
<head>
    <title>Select Company</title>
</head>
<body>
    <h1>Select a Company</h1>
    <form method="post">
        {% csrf_token %}
        <label for="company">Select a Company:</label>
        <select id="company" name="company">
            {% for company_name, _ in company_dict.items %}
                <option value="{{ company_name }}">{{ company_name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
